<?xml version="1.0"?>
<config>
    <modules>
        <Maguru_Privat24>
            <version>1.0.0.0</version>
        </Maguru_Privat24>
    </modules>
    <global>
        <models>
            <privat24>
                <class>Maguru_Privat24_Model</class>
                <resourceModel>privat24_resource</resourceModel>
            </privat24>
        </models>
        <blocks>
            <privat24>
                <class>Maguru_Privat24_Block</class>
            </privat24>
        </blocks>
        <helpers>
            <privat24>
                <class>Maguru_Privat24_Helper</class>
            </privat24>
        </helpers>
    </global>
    <frontend>
        <routers>
            <privat24>
                <use>standard</use>
                <args>
                    <module>Maguru_Privat24</module>
                    <frontName>privat24</frontName>
                </args>
            </privat24>
        </routers>
		<layout>
            <updates>
                <privat24>
                    <file>maguru/privat24.xml</file>
                </privat24>
            </updates>
        </layout>
        <translate>
            <modules>
                <Maguru_Privat24>
                    <files>
                        <default>Maguru_Privat24.csv</default>
                    </files>
                </Maguru_Privat24>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Maguru_Privat24>
                    <files>
                        <default>Maguru_Privat24.csv</default>
                    </files>
                </Maguru_Privat24>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <privat24_redirect>
                <model>privat24/redirect</model>
                <title>Privat24</title>
                <login backend_model="adminhtml/system_config_backend_encrypted"/>
                <password1 backend_model="adminhtml/system_config_backend_encrypted"/>
                <test>0</test>
            </privat24_redirect>
        </payment>
    </default>
</config>